/*
BOX-SIZING
*/

body {
    box-sizing: border-box;
}

.parent {
    width: 600px;
    overflow: hidden;
    padding: 20px;
    margin: 20px;
    background-color: #ddd;
    transition-duration: 5s;
    transition-delay: 0.2s;
    transition-property: ;
}

.one {
    background-color: #eee;
    width: 300px;
    float: left;
    padding: 10px;
    border: 10px solid green;
    box-sizing: border-box;
}

.parent:hover {
    width: 280px
}