.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.content div {
    padding: 20px;
    background-color: rgb(241, 153, 21);
    color: rgb(17, 1, 1);
    height: 300px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
}


/* .nav {
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    background-color: rgb(253, 123, 123);
    width: 20%;
    height: 100%;
    float: left;
    padding: 50px;
} */


/* .article {
    position: absolute;
    right: 33%;
    left: 20%;
    top: 0%;
    background-color: rgb(32, 6, 6);
    width: 69%;
    height: 100%;
    float: left;
    padding: 50px;
} */


/* .ads {
    position: absolute;
    right: 0;
    top: 0%;
    background-color: rgb(220, 185, 185);
    width: 150px;
    height: 100%;
    float: left;
    padding: 50px;
} */

div,
.footer,
.header {
    color: white;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

.clear {
    clear: both;
}

.header {
    /* overflow: hidden; */
    width: 100%;
    background-color: green;
    height: 80px;
    padding: 10px;
    text-transform: uppercase;
}

.footer {
    width: 100%;
    height: 40px;
    padding: 20px;
    float: left;
    background-color: rgb(4, 48, 4);
}

body {
    margin: 0;
}

@media (max-width: 767px) {
    .content div {
        width: calc(100% - 1px);
    }
}


/*Small screens*/

@media (min-width: 768px) and (max-width: 991px) {
    .content div {
        width: calc(43% - 5px);
    }
}


/*Medium screens*/

@media (min-width: 992px) {
    .content div {
        width: calc(20% - 1px);
    }
}


/*large screens*/

@media (min-width: 1200px) {}