*{box-sizing:border-box;}
/* 
Parent{
    display:flex;
    flex-direction: row(default), row-reverse, column, column-reverse;
    flex-wrap:wrap, wrap-reverse, nowrap default value; pour l'element surcharge
    flex-flow: row wrap;[flex-direction: row]+[flex-wrap:wrap;]
    -------------
    justify-content: flex-start; =>default value; flex-start , center;
    justify-content:space-between, space-around ,space-evenly;  HORIZONTAL

    align-items:stretch=>default value, flex-end, flex-start; VERTICAL
    strech=>fit-content
    align-content: stretch => default value; flex-end, flex-start ,
                            space-between, space-around ,space-evenly,center         //vertical    
}*/
/**
 * Child{
 * flex-grow: 0;=> default value; si il ya une espace dans l'element parent l'element va grandir (become bigger)
 * flex-shrink: 1 =>default value; the element become smaller if the parent space become smaller
 * order: 0=>default value;
 * flex-basis: auto=> default Value( width and height) according to the flex-direction: row or column;
 * flex: [flex Grow] [flex Shrink] [flex-basis]: 0 1 auto; default value;
 * align-self: auto=> default value;
 */
.flex{
    /* overflow:hidden; */
    display:flex;
    background-color:goldenrod;
    padding: 20px;
    width:900px;
    /* height: 400px; */
    
    margin: 20px auto;
    /* flex-direction: row;
    flex-wrap:wrap; */
    /* flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start; */
    /* justify-content:space-evenly; */
    
}
.flex div{
    /* float:left; */
    background-color: hotpink;
    color:indigo;
    width:100px;
    margin-right:5px;
    /* width: calc(100% / 6); */
    padding: 20px;
    border:1px solid green;
    text-align: center;
    /* flex-grow: 1; */
    flex-shrink: 1;
}
.float{
    overflow:hidden;
   
    background-color:rgb(64, 247, 9);
    padding: 20px;
    width:900px;
    margin: 20px auto;
    
}
.float div{
    float:left;
    background-color: rgb(138, 84, 111);
    color:rgb(180, 238, 23);
    /* width:25%; */
    width: calc(98% / 3);
    padding: 20px;
    border:1px solid green;
    text-align: center;
}
/* .flex .one,
.float .one{
    height:80px;
}
.flex .two,
.float .two{
    height:120px;
} */
.center{
    background-color: rgb(47, 113, 255);
    color:rgb(34, 6, 20) ;
    width: 200px;
    height:200px;
    display:flex;
    justify-content: center;/* horizental*/ 
    align-items: center;/** vertical */
}