/**
 * Gradient
 * linear-gradient(direction or ongle ,color stop1, color stop2,....)
 * direction: to top, to right, to bottom, to left;
 * ongle :(0 deg or 360 deg=top), (90deg:right), (180deg:bottom),(270deg:left)
*/

div{
    background-color:#eee;
    width: 800px;
    height: 200px;
    background-image: linear-gradient(to right,
    #2980b9 20%,
    #27ae60 20%,
    #27ae60 40%,
    #d35400 40%,
    #d35400 60%,
    #8e44ad 60%,
    #8e44ad 80%,
    #c0392b 80%);
    margin: 20px auto;
    position: relative;
}

div:before{
    content:"";
    position: absolute;
    top:-6px;
    left: 0;
    background-color:rgb(226, 34, 34);
    width:100%;
    height: 5px;
    background-image: linear-gradient(to right,
    #2980b9 20%,
    #27ae60 20%,
    #27ae60 40%,
    #d35400 40%,
    #d35400 60%,
    #8e44ad 60%,
    #8e44ad 80%,
    #c0392b 80%);
}
.imge{
    position: relative;
    margin: 15% 30% ;
}
.imge::before {
    position: absolute;
    content: "";
    left: 0px;
    top: -15px;
    width: 530px;
    height: 530px;
    background-color: #FF5F6D;
    /* background-image: linear-gradient(90deg, #FFC371, #FF5F6D); */
    background-image: linear-gradient(90deg, #FFC371, #FF5F6D);
    border-radius: 55% 35% 48% 30% / 40% 40% 70% 6%;
    will-change: border-radius, transform, opacity;
    animation: heroShape 6s linear infinite;
    display: block;
    z-index: -1;
    opacity: 0.4;
}
    .imge::after {
        position: absolute;
        content: "";
        left: 50px;
        top: -35px;
        width: 430px;
        height: 430px;
        background-color: #FF512F;
        /* background-image: linear-gradient(90deg, #F09819, #FF512F); */
        background-image: linear-gradient(90deg , #F09819, #FF512F);
        border-radius: 55% 35% 48% 30% / 40% 40% 70% 6%;
        will-change: border-radius, transform, opacity;
        animation: heroShapetwo 4s linear infinite;
        display: block;
        z-index: -1;
        opacity: 0.4;
    }
    @media (min-width: 576px) and (max-width: 767.98px){
.img::before, .hero-image::after {
    width: 350px;
    height: 350px;
    left: 80px;}}