div {
    background-color: #EEE;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    border: 2px solid red;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

div p {
    border: 2px solid;
    border-color: inherit;
    padding: inherit;
}


/*
CSS Units
. px
. em => one Time 
. rem => Root Time
.vw (View Port Width => responsive )font-size = 1% view port width
.percentage
.
.READ
.vmin
.vh*/

input[type=email] {
    float: left;
    height: 30px;
    width: 63%;
    background-color: rgba(144, 144, 144, 0);
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
}