    .parent {
        overflow: hidden;
        width: 100%;
        margin-bottom: 20px;
        counter-increment: members-counter;
        /* display: inline-block; */
    }
    
    .user {
        width: 100px;
        height: 90px;
        background-color: gray;
        text-align: center;
        padding: 10px;
        margin-right: 40px;
        font-size: 50px;
        float: left;
    }
    
    .one {
        width: 900px;
        float: left;
        background-color: rgb(230, 169, 169);
        padding: 10px;
        font-size: 26px;
        position: relative;
    }
    
    .one::before {
        /* content: attr(data-text);
        display: none; */
        content: "";
        position: absolute;
        width: 0px;
        height: 0px;
        background-color: transparent;
        left: -60px;
        top: 50%;
        margin-top: -20px;
        border-color: transparent green transparent transparent;
        border-width: 25px;
        border-style: solid;
    }
    /*     
    .one:hover::before {
        display: block;
    } */
    
    .one::after {
        content: counter(members-counter);
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: rgb(19, 179, 64);
        right: -15px;
        top: 50%;
        margin-top: -15px;
        color: white;
        text-align: center;
        border-radius: 6px;
    }
    
    ul {
        list-style: none;
    }
    
    ul li {
        position: relative;
        padding: 5px;
        font-size: 20px;
        margin-left: 10px;
    }
    
    ul li::before {
        content: "";
        position: absolute;
        width: 0px;
        height: 0px;
        background-color: transparent;
        left: -20px;
        top: 60%;
        margin-top: -15px;
        margin-left: -10px;
        border-color: transparent green transparent transparent;
        border-width: 10px;
        border-style: solid;
    }